{{- define "main" -}}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">
    <div class="row">
        
        <div class="col-lg-14">
            <!-- added by zhenlong at 2021-11-06 -->
            {{ with .Params.categories }}
                <ul id="categories">
                    {{ range . }}
                        <li><a href="{{ "categories" | absURL}}/{{ . | urlize }}">{{ . }}</a> </li>
                    {{ end }}
                </ul>
            {{ end }}
            {{ with .Content }}
                <div class="article-style">{{ . }}</div>
            {{ end }}
            <!-- end of addition by zhenlong at 2021-11-06 -->

            {{ range .Data.Pages.GroupByDate "2006" }}
                <div class="row" id="talk_list">
                    <div class="col-lg-2">
                        <h3>{{ .Key }}</h3>
                    </div>
                    <div class="col-lg-10">
                        {{ range .Pages }}
                            {{ if eq $.Params.view 1 }}
                                {{ partial "li_list" . }}
                            {{ else if eq $.Params.view 3 }}
                                {{ partial "li_card" . }}
                            {{ else }}
                                {{ partial "li_compact" . }}
                            {{ end }}
                        {{ end }}
                    </div>
                    <div class="
                        col-lg-8 col-lg-offset-2
                        col-md-10 col-md-offset-1
                        sidebar-container">

                        <!-- Featured Tags -->
                        {{ if .Site.Params.featured_tags }}
                        <section>
                            <hr class="hidden-sm hidden-xs">
                            <h5><a href="/tags/">FEATURED TAGS</a></h5>
                            <div class="tags">
                                {{ $featured_condition_size := .Site.Params.featured_condition_size }}
                                {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                                {{ if gt (len $taxonomy.Pages) $featured_condition_size }}
                                <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" title="{{ $name }}">
                                {{ $name }}
                                </a>
                                {{ end }}
                                {{ end }}
                            </div>
                        </section>
                        {{ end }}
                    </div>
                </div>
            {{ end }}
        </div>
    </div>

  <!-- {{ with .Content }}
  <div class="article-style">{{ . }}</div>
  {{ end }}

  {{ $paginator := .Paginate .Data.Pages }}
  {{ range $paginator.Pages }}
    {{ if eq $.Params.view 1 }}
      {{ partial "li_list" . }}
    {{ else if eq $.Params.view 3 }}
      {{ partial "li_card" . }}
    {{ else }}
      {{ partial "li_compact" . }}
    {{ end }}
  {{ end }}

  {{ partial "pagination" . }} -->

</div>

{{- end -}}
